/*estrcutra*/
.estructura{
    width: 45rem;
    height: 34rem;
    margin: auto;
}
/*Parte superior*/
.inicio{
    width: 45rem;
    height: 5rem;
    border: 1px solid black;
    border-radius: 1rem;
}
/*lado_lateral*/
.lado_lateral{
    width: 8rem;
    height: 22.5rem;
    border: 1px solid black;
    border-radius: 1rem;
    position: relative;
    top: 0.5rem;
    left: 0.3rem;
}
/*info*/
.informacion{
    width: 36rem;
    height: 22.5rem;
    border: 1px solid black;
    border-radius: 1rem;
    position: relative;
    top: -22rem;
    left: 8.7rem;
}
/*Parte final*/
.final{
    width: 45rem;
    height: 5rem;
    border-radius: 1rem;
    border: 1px solid black;
    position: relative;
    top: -21.3rem;
    left: -0rem;
    background: linear-gradient( white, white, rgb(68, 68, 245));

}